.divdiv{
    width: 500px;
    height: 500px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

.divdiv:hover {
    background-color: rgb(0, 0, 0);
    color:white

}

.divdiv:active{
    transform: scale(0.5)

}